.workflowContainer {
  padding: 60px 0;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin: 0 auto;
}
.workflowTop {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.workflowTitle {
  width: 588px;
  height: 160px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.workflowTitle p {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #223229;
}
.workflowTitle h2 {
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #385144;
}
.workflowRight {
  width: 588px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.workflowRight p {
  font-family: "Unbounded", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #67707b;
}
.workflowMane {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}
.workflowImg {
  border-radius: 32px;
  width: 588px;
  height: 540px;
  object-fit: cover;
}
.workflowItems {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
